<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="hangman.js"></script>
  <title>Document</title>
</head>

<body>
  <h1>Hangman</h1>
  <button id="btn-start" onclick="init()">Começar</button>
  <p id="begin-world"></p>
  <p id="fail-target"></p>
  <p id="category"></p>
  <p id="target-guess"></p>
  <strong id="lb-fail"></strong>
  <input id="target-word" type="text">
  <button id="btn-send" type="submit" onclick="handleSubmit()">Enviar</button>
  <strong id="lb-win"></strong>
</body>


</html>