<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hangman</h1>
  <button class="btn-begin" onclick="">Começar</button>
  <p id="begin-world"></p>
  <p id="fail-target"></p>
  <p id="category"></p>
  <p id="target-guess"></p>
  <input id="target-word" type="text">
  <button class="btn-send" type="button" onclick="">Enviar</button>
</body>

<script src="../hangman.js"></script>

</html>